# Package in develop mode
-e .[redis,zstd]

# Distribution
twine
wheel

# Code style
mypy
isort; python_version < '3.8'
isort[pyproject]; python_version >= '3.8'
flake8
black

# Tests
tox
pytest
pytest-cov
pytest-asyncio; python_version >= '3.5'
mock
freezegun

# Typing
types-mock
types-freezegun
types-redis
